decode/qrcodes/*
!decode/qrcodes/.gitkeep

decode/sshkeys/*
!decode/sshkeys/.gitkeep

encode/keys/*
!encode/keys/.gitkeep

encode/qrcodes/*
!encode/qrcodes/.gitkeep

encode/result/*
!encode/result/.gitkeep

.DS_Store